{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "core": "./src/core",
          "strategy": "./src/strategy",
          "user": "./src/user"
        }
      }
    ]
  ]
}